$primary: #242032;
$white: #ffffff;
$gray: #EDEDED;

$text-gray: #6F6F70;

$title-primary: #1D1A27;
$link-primary: #262330;

$lang-color: #292929;
$copyright: #6E6E6E;


$gray-bg: #E6E6E6;
$submenu-bg:  #F1F1F1;