@import './mixins.scss';
@import './colors.scss';
@import './fonts.scss';

body {
    font-family: klavika;
}
section {
    @include flex-center;
    width: 100%;


}

.inner {
    max-width: 132rem;
    padding: 0 2.5rem;
    width: 100%;
}

button {
    @include btn-reset;
}


.nav-bar{
    @include flex-center;
    &__inner {
        width: 100%;
        max-width: 132rem;
    }
    &__logo-link {
        position: absolute;
        top:0;
        left: 0;
        background-color: $primary;
        padding: 9.5rem 2.19rem 8.5rem 2.6rem;
        z-index: 99;
        img {
            height: 3.5rem;
        }
    }
    &__wrapper {
        position: relative;
        @include flex-center;
        height: 8rem;
        width: calc(50vw + 50%);
        padding-left: calc(22.75rem + 13.8rem);
        a{
            color: $lang-color;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 1.6rem;
            text-transform: uppercase;
        }
    }
    &__menu {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        + .nav-bar__menu {
            margin-left: 5.7rem;
        }
        &:hover .nav-bar__submenu {
            display: block;
        }
    }
    &__submenu {
        display: none;
        position: absolute;
        top: 100%;
        padding: 1.7rem 0 0 0 ;
        margin: 0;
        width: 17.5rem;
        z-index: 99;
        &-inner {
            display: flex;
            flex-direction: column;
            background-color: $submenu-bg;
        }
        a {
            padding: 1rem 1.7rem;
            transition: .2s;
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
        p {
            margin: 0;
            padding: 1rem 1.7rem 2.5rem 1.7rem;
            color: $text-gray;
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
    }
    &__lang-selector {
        position: relative;
        margin-left: auto;
        margin-right: 7.5rem;
        color: $lang-color;
        
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.6rem;
        &-current {
            display: inline-block;
            padding: 0 1rem;
        }

        .nav-bar__other-langs {
            display: none;
            position: absolute;
            top: calc(100% + 1.7rem);
            left: 0;
            background-color: $submenu-bg;
            z-index: 99;
            a {
                display: inline-block;
                width: 100%;
                padding: 1rem;
                transition: .2s;
                &:hover {  
                    background-color: $primary;
                    color: $white;
                }
            }
            &.active {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.banner {
    .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 56.4rem;
        z-index: 3;
    }

    h1 {
        color: $white;
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 6.5rem;
        letter-spacing: 0.113rem;
        margin: 16.3rem 0 6.4rem calc(12rem - 2.5rem);
        text-align: left !important;
        text-transform: uppercase;

    }

    video {
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        width: calc(50vw + 50%);
        height: 56.4rem;
        object-fit: cover;
        z-index: -1;
    }
    .btn-mute {
        margin-left: calc(12rem - 2.5rem);
        .btn-mute__img {
            width: 3rem;
            height: 3rem;
        }
    }
}

.company-stats {
    background-color: $primary;
    padding-top: 17.2rem;
    margin-top: -calc(17.5rem - 9.2rem);

    &__inner {
        background: bottom url('/assets/img/lineala-raksts.svg') repeat-x;
        padding: 0 0 9.2rem 0;
        max-width: 117rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 27rem);
        grid-gap: 3rem;
        justify-content: center;
    }

    &__item {
        text-align: center;
        color: $white;
    }

    &__title {
        margin: 0 0 2.5rem 0;
        font-style: 1.6rem;
        font-weight: 700;
        line-height: 1.9rem;
        text-transform: uppercase;
    }

    &__value {
        padding: 0.7rem 0;
        margin-bottom: 1.3rem;
        font-weight: 400;
        font-size: 2.8rem;
        color: $primary;
        // text-transform: uppercase;
        opacity: 0.8;
        width: 100%;
        background-color: $gray;
        sup {
            top: -1rem;
            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    &__excerpt {
        // font-size: 1.6rem;
        line-height: 2.8rem;
    }

    &__item--col-two {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .company-stats__col {
            width: calc(50% - .5rem);
        }
    }

}


.product {
    padding: 12.8rem 0;
    &__inner {
        position: relative;
        @include flex-center;
        justify-content: space-between;
        max-width: calc(117rem + 5rem);
        padding: 11.7rem 0;
        z-index: 3;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;  bottom: 0; left: calc(100% - 10rem); 
            background-color: $primary;
            width: 30vmax;
            z-index: -1;
        }
    }

    &__text-col {
        padding-left: 7rem;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 2.7rem;
    }

    &__description {
        margin: 0;
        color: $text-gray;
        max-width: 48.7rem;
        line-height: 2.8rem;    
    }

    &__img {
        height: 46.3rem;
        width: 57rem;
    }
    &__link {
        position: relative;
        text-transform: uppercase;
        color: $link-primary;
        line-height: 1;
        font-weight: 700;
        margin-top: calc(3rem + 1rem + 3rem); 
        img {
            position: absolute;
            height: 1rem;
            width: 1.6rem;
            top: -3rem; right: -2.2rem;
            transform: translate(100%, -100% );
            transition: .2s;
        }

        &:hover img {
            transform: translate(40px, -100%);
        }
    }
}

.news {
    background-color: $gray-bg;
    padding: 10rem 2.5rem 16.8rem 2.5rem;
    margin-top: -12.8rem;
    h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 3.5rem;
    }
    &__inner {
        position: relative;
        padding: 0;
        max-width: 117rem;
        z-index: 3;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -100rem;  right: calc(100% - 10rem); bottom: -100rem; 
            background-color: $primary;
            width: 30vmax;
            z-index: -1;
        }
    }

    &__grid {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: calc(50% - 1.5rem);
        overflow: hidden;
        &:hover {
            .news{
                &__img {
                transform: scale(1);
                }
                &__label {
                    transform: translateY(0);
                }
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 37.5rem;
        object-fit: cover;
        transition: .4s;
        transition-timing-function: ease-in-out;
        transform: scale(1.2);
    }
    
    &__overlay {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0 7rem 3rem 4rem;
        top: 0; right: 0; left: 0; bottom: 0;
        background: linear-gradient(236.8deg, rgba(0,0,0,0.15) 0%, rgba(29,26,39,0.49) 55.89%, rgba(29,26,39,0.56) 74.29%, #1D1A27 100%)
    }

    &__label {
        color: $white;
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: 0.12rem;
        line-height: 2.6rem;
        text-transform: uppercase;
        transform: translateY(-35rem);
        transition: .4s;
    }

}


.map-section {
    flex-direction: column;
    padding: 0;
}


.footer {
    padding: 11.3rem 2.5rem 7.8rem 2.5rem;

    &__inner {
        padding: 0;
        overflow: hidden;
    }
    &__nav-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            text-transform: uppercase;
            font-size: 1.4rem;
            color: $link-primary;
            font-weight: 700;
        }
        a + a {
            margin-left: 5.7rem;
        }
    }

    &__ruler {
        width: 127rem;
        transform: translateX(-0.3rem);
        margin-top: 7rem;
        margin-bottom: 8rem;
    }

    &__copyright-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copyright{ 
        color: $copyright;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    &__social-row {
        img {
            height: 14px;
        }
        a + a {
            margin-left: 3.2rem;
        }
        a {

        }
    }
}

// extras 
.nav-bar{

    &__mob-only {
        display: none;
        .nav-bar__logo-link {
            padding: 4.5rem 1.38rem 4.5rem 1.16rem;
            img {
                height: 2.6rem;
            }
        }
    }
}


// cluster styles
#map {
    .cluster {
        img {
            width: 53px;
            height: 53px;
        }
        span {
            color: $white !important;
            font-size: 14px !important;
        }

    }
}


@media (max-width: 1280px) {
    .nav-bar__wrapper {
        padding-left: 19.5rem;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: calc(16px + 4.2rem);
    }
    .nav-bar{
        position: fixed;
        z-index: 100;
        background-color: $white;
        top:0; right: 0; left:0;
        bottom: 0;
        height: 100vh;
        transition: .4s;
        transform: translateY(-100%);
        &.active {
            transform: translateY(0);
        }
        &__logo-link {
            display: none;
        }
        &__wrapper {
            flex-direction: column-reverse;
            height: auto;
            padding: 14.1rem 0 4rem 0;
            
            padding-left: 0;
        }
        &__inner {
            height: 100%;
            overflow-y: scroll;    
        }
        &__nav {
            width: 100%;
            
            display: flex;
            flex-direction: column;
        }
        &__mob-only {
            display: flex;
            position: fixed;
            top: 0; right: 0; left: 0; 
            background-color: $white;
            height: calc(16px + 4.2rem);
            z-index: 101;
            .nav-bar__logo-link {
                display: block;
            }
        }
        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover .nav-bar__submenu {
                display: none;
            }
            > a {
                padding: 2rem 0 ;
            }
            + .nav-bar__menu {
                margin-left: 0;
            }
            &::after {
                content: ">";
                position: absolute;
                top: 0;
                right: 0;
                @include flex-center;
                width: 5.6rem;
                height: 5.6rem;
                color: #292929;
                transform: rotate(90deg);
                transition: .2s;
            }
            &.active {
                .nav-bar__submenu {
                    display: block;
                }
                &::after {
                    transform: rotate(-90deg);
                    background-color: $submenu-bg;
                }
            }
        }
        &__submenu {
            position: static;
            width: 100%;
            padding-top: 0;
            a {
                width: 100%;
                text-align: center;
            }
            &-inner  {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
        }
        &__lang-selector {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 0;
            margin-right: 0;
            &-current {
                height: 5.2rem;
                width: 5.2rem;
                padding: 1.6rem 1.8rem 1.6rem 1.8rem;
            }
            a:hover {
                background-color: transparent;
            }
            & .active {
                background-color: #DDDDDD;
            }
            .nav-bar__other-langs {
                position: static;
                display: flex;
                flex-direction: row;
                background-color: transparent;
                &.active {
                    flex-direction: row;
                }
                a {
                    padding: 1.6rem 1.8rem 2rem 1.8rem;
                }
            }
        }
    }


    .product {
        padding-left: 2.5rem;
        &__text-col {
            padding-left: 0;
            margin-right: 1rem;
            width: 50%;
        }
        &__img { 
            width: 50%;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .product {
        .inner {
            flex-direction: column-reverse;
        }
        &__text-col {
            width: 100%;
        }
        &__img {
            width: 100%;
            margin-bottom: 5rem;
        }
    }

    .news {
        &__grid {
            flex-direction: column; 
        }
        &__item {
            width: 100%;
            margin-bottom: 5rem;
        }
    }
}


@media (max-width: 576px) {
    .banner {
        padding-left: 0;
        padding-right: 0;
        h1 {
            margin-left: 0;   
            font-size: 3rem;
            line-height: 1.5;
        }

        .btn-mute {
            margin-left: 0;
        }
    }

    .product {
        padding-right: 2.5rem;
        padding-top: 0;
        &__inner::after {
            display: none;
        }
        
        &__text-col {
            margin-right: 0;
        }
    }

    .news__inner::before {
        display: none;
    }

    .footer{
        &__logo {
            margin-bottom: 2rem;
        }
        &__nav-row {
            display: flex;
            flex-direction: column;
            
            a + a {
                margin-left: 0;
                margin-top: 1.5rem;
            }
        }
        &_nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__copyright-row {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__caballero {
            margin: 5rem;
        }
        &__copyright {
            text-align: center;
        }
    }
}

